body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium";
  background-repeat: no-repeat;
  background-size: cover;
}

body#Inicio {
  background-image: url(/Assets/Img/shutterstock_1049919614.jpg);
}
body#Inicio footer {
  border: 10px solid lightcoral;
  background-color: lightcoral;
  text-align: center;
}
body#Inicio footer > a {
  text-decoration: none;
}
body#Inicio > .flexinicio {
  display: flex;
  flex-direction: column;
  margin: auto;
}
body#Inicio > .flexinicio > .navbar {
  background-color: burlywood;
  display: flex;
  width: auto;
  height: min-content;
  justify-content: end;
  font-style: none;
}
body#Inicio > .flexinicio > .navbar > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
body#Inicio > .flexinicio > .navbar > ul > li > a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 13px;
  margin: 0%;
}
body#Inicio > .flexinicio > .navbar > ul > li > a:hover {
  background: orangered;
  color: white;
}
body#Inicio > .flexinicio > .hamnav {
  display: none;
}
body#Inicio > .flexinicio > .PosicionInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5.2vh;
}
body#Inicio > .flexinicio > .PosicionInicio > #TitleInicio {
  border-style: ridge;
  width: fit-content;
  background-color: rgb(165, 106, 28);
  border-radius: 15px;
  border-width: 20px;
}
body#Inicio > .flexinicio > .containercards1 .cardinicio:hover, body#Inicio > .flexinicio .containercards2 .cardinicio:hover {
  transform: scale(1.28);
  transition: 0.5s;
}
body#Inicio > .flexinicio > .containercards1 > #cardssection, body#Inicio > .flexinicio .containercards2 > #cardssection {
  display: flex;
  justify-content: center;
  margin: auto;
}
body#Inicio > .flexinicio > .containercards1 > #cardssection > .cardinicio, body#Inicio > .flexinicio .containercards2 > #cardssection > .cardinicio {
  padding: 5vh;
}
body#Inicio > .flexinicio > .containercards1 > #cardssection > .cardinicio > .Cardinicio-info, body#Inicio > .flexinicio .containercards2 > #cardssection > .cardinicio > .Cardinicio-info {
  background-color: aqua;
  width: auto;
  margin: auto;
  text-align: center;
}
body#Inicio > .flexinicio > .containercards1 > #cardssection > .cardinicio > .Cardinicio-info > h2, body#Inicio > .flexinicio .containercards2 > #cardssection > .cardinicio > .Cardinicio-info > h2 {
  margin: auto;
  font-size: 20px;
  font-weight: 700;
}

body#Productos {
  background-image: url(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);
}
body#Productos footer {
  border: 10px solid lightcoral;
  background-color: lightcoral;
  text-align: center;
}
body#Productos footer > a {
  text-decoration: none;
}
body#Productos > .flexproductos {
  display: flex;
  flex-direction: column;
}
body#Productos > .flexproductos > .navbar {
  background-color: burlywood;
  display: flex;
  width: auto;
  height: min-content;
  justify-content: end;
  font-style: none;
}
body#Productos > .flexproductos > .navbar > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
body#Productos > .flexproductos > .navbar > ul > li > a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 13px;
  margin: 0%;
}
body#Productos > .flexproductos > .navbar > ul > li > a:hover {
  background: orangered;
  color: white;
}
body#Productos > .flexproductos > .hamnav {
  display: none;
}
body#Productos > .flexproductos > .tituloproductos {
  display: flex;
  justify-content: center;
  margin: 5vh;
}
body#Productos > .flexproductos > .tituloproductos > .Titulo1 {
  display: flex;
  border: 10px solid rgb(65, 40, 124);
  background-color: rgb(171, 102, 250);
  border-radius: 10px;
  border-width: 10px;
  border-left: 30px solid blue;
  border-right: 30px solid blue;
  width: auto;
}
body#Productos > .flexproductos > .Subtitulo {
  display: flex;
  justify-content: center;
  width: auto;
  border: solid rgb(65, 40, 124);
  background-color: rgb(171, 102, 250);
  border-radius: 10px;
  border-width: 10px;
  width: fit-content;
  margin: auto;
}
body#Productos > .flexproductos > table {
  display: flex;
  justify-content: center;
  width: auto;
  margin: auto;
  font-size: 20px;
  padding: 5vh;
}
body#Productos > .flexproductos > table > tbody {
  border: solid green;
  background-color: antiquewhite;
}
body#Productos > .flexproductos > table > tbody > tr {
  border: solid green;
}
body#Productos > .flexproductos > table > tbody > tr > th {
  border: solid green;
  padding: 5px;
}
body#Productos > .flexproductos > table > tbody > tr > td {
  border: solid green;
  padding: 3px;
}
body#Productos > .flexproductos > .OtrosProductos > .TextOP {
  display: flex;
  justify-content: center;
  margin: auto;
}
body#Productos > .flexproductos > .OtrosProductos > .TextOP > h3 {
  width: min-content;
  font-size: 35px;
  border: 10px solid rgb(65, 40, 124);
  border-width: 9px;
  background-color: rgb(171, 102, 250);
  border-radius: 10px;
  border-width: 10px;
  text-align: center;
  margin: auto;
}
body#Productos > .flexproductos > .OtrosProductos > .cardsproductos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5vh;
  width: auto;
  padding: 4vh;
}
body#Productos > .flexproductos > .OtrosProductos > .cardsproductos .cardproductos:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
body#Productos > .flexproductos > .OtrosProductos > .cardsproductos > .cardproductos {
  margin: 2vh;
  border: 12px solid rgb(181, 222, 135);
  background-color: antiquewhite;
}
body#Productos > .flexproductos > .OtrosProductos > .cardsproductos > .cardproductos > .Card-infoproductos > h4 {
  font-size: 25px;
  border-radius: 5px;
  color: black;
  font-weight: 700;
}
body#Productos > .flexproductos > .OtrosProductos > .cardsproductos > .cardproductos > .Card-infoproductos > .btnProducts {
  font-size: 20px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  text-decoration: none;
}
body#Productos > .flexproductos > .OtrosProductos > .cardsproductos > .cardproductos > .Card-infoproductos > .btnProducts:hover {
  color: cyan;
}

body#SN {
  background-image: url(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);
}
body#SN footer {
  border: 10px solid lightcoral;
  background-color: lightcoral;
  text-align: center;
}
body#SN footer > a {
  text-decoration: none;
}
body#SN > .flexsobrenosotros {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: auto;
}
body#SN > .flexsobrenosotros > .navbar {
  background-color: burlywood;
  display: flex;
  width: auto;
  height: min-content;
  justify-content: end;
  font-style: none;
}
body#SN > .flexsobrenosotros > .navbar > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
body#SN > .flexsobrenosotros > .navbar > ul > li > a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 13px;
  margin: 0%;
}
body#SN > .flexsobrenosotros > .navbar > ul > li > a:hover {
  background: orangered;
  color: white;
}
body#SN > .flexsobrenosotros > .hamnav {
  display: none;
}
body#SN > .flexsobrenosotros > .PosicionTSN {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 40px;
}
body#SN > .flexsobrenosotros > .PosicionTSN > .headerSN {
  width: auto;
  border: solid 10px;
  border-style: dotted;
  border-width: 10px;
  margin: 20px;
}
body#SN > .flexsobrenosotros > .TtleSN {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 40px;
}
body#SN > .flexsobrenosotros > .TtleSN > h1 {
  border: 10px solid rgb(255, 255, 255);
  background-color: rgb(190, 176, 113);
  border-radius: 10px;
  border-left: 30px solid rgb(0, 0, 0);
  border-right: 30px solid rgb(0, 0, 0);
  font-size: 50px;
}
body#SN > .flexsobrenosotros > .PositionTextSN {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px;
  border: 10px solid rgb(0, 0, 0);
  background-color: whitesmoke;
}
body#SN > .flexsobrenosotros > .PositionTextSN > div > p {
  font-size: 20px;
  width: auto;
}
body#SN > .flexsobrenosotros > .positionpic {
  display: flex;
  justify-content: center;
  margin: 60px;
}
body#SN > .flexsobrenosotros > .positionpic > .pic {
  display: flex;
  justify-content: center;
  margin: auto;
}

body#Ubicacion {
  background: url(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);
}
body#Ubicacion footer {
  border: 10px solid lightcoral;
  background-color: lightcoral;
  text-align: center;
}
body#Ubicacion footer > a {
  text-decoration: none;
}
body#Ubicacion > .flexubicacion {
  display: flex;
  flex-direction: column;
}
body#Ubicacion > .flexubicacion > .navbar {
  background-color: burlywood;
  display: flex;
  width: auto;
  height: min-content;
  justify-content: end;
  font-style: none;
}
body#Ubicacion > .flexubicacion > .navbar > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
body#Ubicacion > .flexubicacion > .navbar > ul > li > a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 13px;
  margin: 0%;
}
body#Ubicacion > .flexubicacion > .navbar > ul > li > a:hover {
  background: orangered;
  color: white;
}
body#Ubicacion > .flexubicacion > .hamnav {
  display: none;
}
body#Ubicacion > .flexubicacion > .PosicionTtleUbicacion {
  display: flex;
  justify-content: center;
  margin: 50px;
}
body#Ubicacion > .flexubicacion > .PosicionTtleUbicacion > .TtleUbic > strong {
  background-color: rgb(219, 52, 52);
  border-radius: 15px;
  border-width: 20px;
  border: solid 5px rgb(255, 137, 2);
  font-size: 30px;
}
body#Ubicacion > .flexubicacion > .ContainerMap {
  display: flex;
  justify-content: center;
}
body#Ubicacion > .flexubicacion > .TextUbic {
  display: flex;
  margin: 50px;
}
body#Ubicacion > .flexubicacion > .TextUbic > b {
  background-color: rgb(216, 101, 197);
  border: solid 5px rgb(105, 34, 105);
  border-radius: 15px;
  border-width: 6px;
  font-size: 20px;
  margin: auto;
}
body#Ubicacion > .flexubicacion > .posicionbtnubic {
  display: flex;
  justify-content: center;
  margin: 56.3px;
}
body#Ubicacion > .flexubicacion > .posicionbtnubic > .btnUbicStyle {
  background-color: blue;
  border-radius: 5px;
  color: white;
}

body#Contactarse {
  background: url(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);
}
body#Contactarse footer {
  border: 10px solid lightcoral;
  background-color: lightcoral;
  text-align: center;
}
body#Contactarse footer > a {
  text-decoration: none;
}
body#Contactarse > .flexcontactarse {
  display: flex;
  flex-direction: column;
}
body#Contactarse > .flexcontactarse > .navbar {
  background-color: burlywood;
  display: flex;
  width: auto;
  height: min-content;
  justify-content: end;
  font-style: none;
}
body#Contactarse > .flexcontactarse > .navbar > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
body#Contactarse > .flexcontactarse > .navbar > ul > li > a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 13px;
  margin: 0%;
}
body#Contactarse > .flexcontactarse > .navbar > ul > li > a:hover {
  background: orangered;
  color: white;
}
body#Contactarse > .flexcontactarse > .hamnav {
  display: none;
}
body#Contactarse > .flexcontactarse > .PosicionHContacto {
  display: flex;
  justify-content: center;
  margin: 40px;
}
body#Contactarse > .flexcontactarse > .PosicionHContacto > .headercontactarse {
  border-style: ridge;
  width: fit-content;
  background-color: rgb(165, 106, 28);
  border-radius: 15px;
  border-width: 20px;
}
body#Contactarse > .flexcontactarse .containerformcontc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body#Contactarse > .flexcontactarse .containerformcontc > form {
  color: rgb(219, 29, 29);
  border: solid 20px rgb(250, 182, 119);
  background-color: rgb(255, 192, 119);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  padding: 6vh;
}
body#Contactarse > .flexcontactarse .containerformcontc > form > input, body#Contactarse > .flexcontactarse .containerformcontc > form textarea {
  width: max-content;
  height: max-content;
  padding: 15px;
  margin: 10px;
}
body#Contactarse > .flexcontactarse .containerformcontc > form > textarea {
  width: auto;
}
body#Contactarse > .flexcontactarse .containerformcontc > form > .btncontactarse {
  display: block;
  width: auto;
  text-align: center;
  padding: 15px;
  border: none;
  margin: 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(125, 125, 168);
  color: white;
}
body#Contactarse > .flexcontactarse .PosicionPContacto {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50vh;
}
body#Contactarse > .flexcontactarse .PosicionPContacto > .textcontactarse {
  background-color: aliceblue;
  border: 1px solid black;
  font-size: 20px;
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: none !important;
  }
  .hamnav {
    width: 100%;
    height: 38%;
    background: burlywood;
    display: inline-block !important;
  }
  .hamburger {
    position: fixed;
    top: 17px;
    left: 12px;
    opacity: 0%;
  }
  .hamitems {
    display: none;
    position: fixed;
    background-color: burlywood;
  }
  .hamitems a:hover {
    background: #af0d0d;
  }
  .hamitems a {
    box-sizing: border-box;
    display: block;
    width: auto;
    border: 3px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  .hamnav label {
    background: #a02620;
    padding: 13px;
  }
  .hamitems a:hover {
    background: orangered;
    color: white;
  }
  .hamnav input:checked ~ .hamitems {
    display: block;
  }
  #TitleInicio h1 {
    font-size: 23.6px;
  }
  .containercards1, .containercards2 {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  #cardssection {
    flex-direction: column;
    margin: auto;
    width: auto;
    height: auto;
  }
  .cardinicio img {
    width: 35vh;
    height: 25vh;
    margin: auto;
  }
  .Cardinicio-info {
    width: fit-content;
    margin: auto;
  }
  .Cardinicio-info h2 {
    font-size: 18px;
    margin: auto;
  }
  .Titulo1 h1 {
    font-size: 32px;
  }
  .tituloproductos {
    margin: auto;
    width: fit-content;
  }
  .Titulo1 h1 {
    font-size: 27px;
  }
  .Subtitulo h2 {
    font-size: 24px;
  }
  .Sabores th, td {
    font-size: 11px;
    height: 8.5vh;
  }
  .OtrosProductos h3 {
    font-size: 21px;
    width: 20vh;
    margin-top: 10vh;
    font-weight: 700;
  }
  .cardproductos img {
    width: 39.1vh;
    height: 20vh;
  }
  .cardsproductos {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    width: min-content;
    height: min-content;
  }
  .Gif {
    width: 400px;
    height: 300px;
  }
  .PositionTextSN {
    width: 45vh;
  }
  .pic {
    width: 55vh;
    height: 40vh;
  }
  .PosicionTtleUbicacion {
    margin: 20px;
  }
  .ContainerMap {
    margin: 10px;
  }
  .textcontactarse {
    width: 50vh;
    font-size: 24px;
    margin: auto;
  }
  .PosicionHContacto {
    width: auto;
    font-size: 12px;
  }
  .headercontactarse h1 {
    font-size: 21.9px;
  }
  .containerformcontc {
    width: auto;
    margin: auto;
    height: auto;
  }
}
