footer
    {
        border: 10px solid lightcoral;
        background-color:lightcoral;
        text-align: center;
            > a
            {
                text-decoration:none;
            }
        }