>.navbar
        {
            background-color: burlywood;
            display: flex;
            width:auto;
            height: min-content;
            justify-content:end;
            font-style: none;    
            > ul 
            {
                list-style-type: none;
                display: flex;
                margin: 0;
                padding: 0;
                > li 
                {
                    > a 
                    {
                        display: flex;
                        text-decoration: none;
                        color: black;
                        font-size: 18px;
                        padding:13px;
                        margin:0%;
                    }
                        > a:hover
                        {
                            background: orangered;
                            color:white;
                        }
                }
            }
        }    
    >.hamnav
    {
        display: none;
    }