@import "reset";
body
{
    font-family:'Franklin Gothic Medium';
    background-repeat: no-repeat;
    background-size: cover;
}
body#Inicio
{ 
    background-image: url(/Assets/Img/shutterstock_1049919614.jpg);
    @import "footer";
    > .flexinicio
    {    
        display: flex;
        flex-direction: column;
        margin: auto;
        @import "nav";
        
        > .PosicionInicio 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5.2vh;
            
            > #TitleInicio
            {
                border-style:ridge;
                width: fit-content;
                background-color: rgb(165, 106, 28);
                border-radius: 15px;
                border-width: 20px; 
            }
        }
            @import"cardsinicio";
    }          
}  
body#Productos
{
    background-image:URL(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg); 
    @import "footer";
    >.flexproductos
    {
        display: flex;
        flex-direction: column;      
        @import "nav";
        >.tituloproductos
        {
            display: flex;
            justify-content:center;
            margin: 5vh;
        
            >.Titulo1
            {
                display: flex;
                border: 10px solid  rgb(65, 40, 124);
                background-color: rgb(171, 102, 250);
                border-radius: 10px;
                border-width: 10px; 
                border-left: 30px solid blue;
                border-right: 30px solid blue;
                width: auto;
            }
        }
        >.Subtitulo
        {
            display: flex;
            justify-content: center;
            width: auto;
            border: solid  rgb(65, 40, 124);
            background-color: rgb(171, 102, 250);
            border-radius: 10px;
            border-width: 10px;
            width: fit-content;
            margin: auto;
        }
        >table
        {
            display: flex;
            justify-content: center;
            width: auto;
            margin:auto;
            font-size: 20px;
            padding: 5vh;  
            >tbody
                {
                    border: solid green;
                    background-color: antiquewhite;
                    > tr
                    {   border: solid green;
                        > th
                        {    
                            border: solid green;
                            padding: 5px;
                        }
                        >td
                        {
                            border: solid green;
                            padding: 3px
                        }
                    }
                }
        }
        >.OtrosProductos
        {
            >.TextOP
            {
                display: flex;
                justify-content: center;
                margin:auto;  
                > h3
                {
                    width: min-content;
                    font-size: 35px;
                    border: 10px solid  rgb(65, 40, 124);
                    border-width: 9px;
                    background-color: rgb(171, 102, 250);
                    border-radius: 10px;
                    border-width: 10px; 
                    text-align: center;
                    margin:auto;
                }
            }
            >.cardsproductos
                {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin: 5vh;
                    width:auto;
                    padding:4vh;
                    .cardproductos:hover 
                        {
                            transform: scale(1.3);
                            transition: 0.5s;
                        }              
                    >.cardproductos
                    {
                        margin:2vh;
                        border: 12px solid rgb(181, 222, 135);
                        background-color: antiquewhite;
                        >.Card-infoproductos
                        {                                       
                            >h4
                            { 
                                font-size: 25px;
                                border-radius: 5px;
                                color: black;
                                font-weight: 700;                               
                            }          
                            >.btnProducts
                            {
                                font-size: 20px;
                                border-radius: 5px;
                                background-color: blue;
                                color: white;
                                text-decoration: none; 
                            }
                            >.btnProducts:hover 
                            {
                            color:cyan;
                            }
                        }
                         
                    }
                }
        }
    }
}
body#SN
{
    background-image:URL(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);
    @import "footer";
    >.flexsobrenosotros
    {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: auto;
        @import "nav";
        >.PosicionTSN
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            margin:40px;
            >.headerSN
            {
                width: auto;
                border: solid 10px;
                border-style:dotted;
                border-width: 10px;
                margin:20px;

            }
        }
        >.TtleSN
        {
            display: flex;
            justify-content: center;
            width: auto;
            margin:40px;   
            >h1
            {
                border: 10px solid  rgb(255, 255, 255);
                background-color: rgb(190, 176, 113);
                border-radius: 10px;
                border-left: 30px solid rgb(0, 0, 0);
                border-right: 30px solid rgb(0, 0, 0);
                font-size: 50px;
            }
        }
        >.PositionTextSN
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin:60px;     
            border: 10px solid rgb(0, 0, 0);
            background-color: whitesmoke; 
            >div{
        
                >p
                {
                    font-size: 20px;
                    width: auto;
                } 
                }
    }
        >.positionpic
            {
                display: flex;
                justify-content: center;
                margin:60px;
                >.pic
                {
                    display: flex;
                    justify-content: center;
                    margin: auto;
                }
            }
    }
}
body#Ubicacion
{
    background:URL(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);
    @import "footer";
    >.flexubicacion
    { 
       display:flex;
       flex-direction: column;
       @import "nav";
            >.PosicionTtleUbicacion
            {          
                display: flex;
                justify-content: center;
                margin:50px;
                >.TtleUbic
                {
                    >strong
                    {
                        background-color: rgb(219, 52, 52);
                        border-radius: 15px;
                        border-width: 20px;
                        border:solid 5px rgb(255, 137, 2);
                        font-size: 30px;
                    }
                }
            }
            >.ContainerMap
            {
                display: flex;
                justify-content: center;           
            }
            >.TextUbic
            {
                display: flex;
                margin: 50px;
                
                > b
                {
                    background-color:rgb(216, 101, 197);
                    border:solid 5px rgb(105, 34, 105);
                    border-radius: 15px;
                    border-width: 6px;
                    font-size: 20px;
                    margin: auto;
                }
            }
            >.posicionbtnubic
            {
                display: flex;
                justify-content: center;
                margin:56.3px;
                >.btnUbicStyle
                {    
                    background-color: blue;
                    border-radius: 5px;
                    color: white;
                    
                }
            }
            
    }
}
body#Contactarse
{     
        background:URL(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);
        @import "footer";
        >.flexcontactarse
        {
            display: flex;
            flex-direction: column;
            @import "nav";
            >.PosicionHContacto
            {
                display: flex;
                justify-content: center;
                margin:40px;            
                >.headercontactarse
                {
                    border-style:ridge;
                    width: fit-content;
                    background-color: rgb(165, 106, 28);
                    border-radius: 15px;
                    border-width: 20px;  
                }
            }
            .containerformcontc
            {
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                >form
                {
                    color:rgb(219, 29, 29);
                    border:solid 20px rgb(250, 182, 119);
                    background-color: rgb(255, 192, 119);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height:max-content;
                    padding:6vh;
                    > input, textarea
                    {
                        width: max-content;
                        height: max-content;
                        padding:15px;
                        margin: 10px;
                    }
                    >textarea
                    {
                        width: auto;
                    }
                    >.btncontactarse
                    {
                        display: block;
                        width: auto;
                        text-align: center;
                        padding: 15px;
                        border: none;   
                        margin: 10px;
                        font-size: 14px;
                        border-radius: 5px;
                        background-color: rgb(125, 125, 168);
                        color: white;
                    }
                }
            }
            .PosicionPContacto
                {
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    width: 50vh;         
                    >.textcontactarse
                    {
                        background-color: aliceblue;
                        border: 1px solid black;
                        font-size: 20px;
                        margin:10px;
                    }
                }
        }
}
@media only screen and (max-width: 500px) 
{
    .navbar
    {
       display: none!important;
    }
    .hamnav 
    {
        width: 100%;
        height: 38%;
        background: burlywood;
        display: inline-block!important;
    }      
    .hamburger 
    { 
        position:fixed;
        top: 17px;
        left:12px;
        opacity: 0%;
    }
    .hamitems 
    { 
        display: none;
        position: fixed;
        background-color: burlywood;
    }                
    .hamitems a:hover 
    { 
        background: #af0d0d; 
    } 
    .hamitems a 
    {
     box-sizing: border-box;
     display: block;
     width: auto;
     border:3px solid black;
     text-decoration: none;
     color: black;
     text-align: center;
   }
   .hamnav label 
   { 
     background: #a02620;
     padding: 13px;
   }
   .hamitems a:hover
   {
       background: orangered;
       color:white;
   }
   .hamnav input:checked ~ .hamitems 
   { 
       display: block; 
   }      
   #TitleInicio h1
    {
        font-size: 23.6px;
    } 
    .containercards1, .containercards2
    {
        width: auto;
        display:flex;
        flex-direction: column;
        
    }
    #cardssection
    {
        flex-direction:column;
        margin: auto;
        width: auto;
        height: auto;

    }
    .cardinicio img
    {
        width:35vh;
        height: 25vh;
        margin: auto;
    }
    .Cardinicio-info
    {
       width: fit-content;
       margin: auto;
    }
    .Cardinicio-info h2
    {
       font-size: 18px;
       margin: auto;
    }
    .Titulo1 h1
    {
      font-size: 32px;
    }
    .tituloproductos
    {
       margin: auto;
       width: fit-content;
    }
    .Titulo1 h1
    {
       font-size: 27px;
    }
    .Subtitulo h2
    {
        font-size: 24px;
    }
    .Sabores th,td
    {
       font-size: 11px;
       height: 8.5vh;
       
    }
    .OtrosProductos h3
    {
        font-size: 21px;
        width: 20vh;
        margin-top: 10vh;
        font-weight: 700;
    }
    .cardproductos img
    {
      width: 33vh;
      height: 20vh;
    }
    .cardsproductos
    {
        display: flex;
        flex-direction: column;
        margin: 5vh;
        width: min-content;
        height: min-content;
    }
    .Gif
    {
       width: 400px;
       height: 300px;
    }
    .PositionTextSN
       {
           width: 45vh;
       }
    .pic
       { 
            width: 55vh;
            height: 40vh;
       }
    .PosicionTtleUbicacion
       {
           margin:20px;
       }
    .ContainerMap
       {
           margin:10px;
       }   
    .textcontactarse
       {
          width:50vh;
          font-size: 24px;
          margin: auto;
       }
    .PosicionHContacto
       {
           width: auto;
           font-size: 12px;
       }
    .headercontactarse h1
       {
           font-size: 21.9px;    
       }
    .containerformcontc
       {
           width: auto;
           margin: auto;
           height: auto;
       }
}
